html{
  margin: auto;
  width: 100%;
}
nav{
  height: 500 px;
  background-color: rgba(88, 88, 88, 0.911);
  
  
}
h1 {
  font-size: 50px;
  text-align:center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:tan;
}
h2{
  text-align:center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:tan;
}
body{
  background-color: tan;
  text-align: center;
  


  
}
#content img{
  width:1px; 
}


h3{
  text-align:center;
  font-family: 'Roboto', sans-serif;

}
p{
  text-align:center;
  font-family: 'Roboto', sans-serif;

}
ol, ul{
  margin: 0 auto;
  list-style-position:inside;
  padding-left: 0;
  display:inline-block;
}
li{
  text-align:left;
  
}

img{
  /*max-width: 500px;
  height: 350px;
  padding-bottom: 80px;
  padding-top: 10px;
  
}
*/
section{
  font-family: 'Roboto', sans-serif;

}

footer{
  text-align: center;
  
}

a:link{
  text-decoration: none;
  color: orange;
}
a:visited{
  text-decoration: none;
  color: greenyellow;
}
a:hover{
  text-decoration: none;
  color:aquamarine;
}
a:active{
  text-decoration: none;
  color: blueviolet;
}
.intro{
  Display: flex;
  flex-direction: column; 
}
  .child{
    display:flex;
    flex-direction:column;
  }
}

@media all and (min-width: 450px) {
.wrapper{
  width:80%;
  margin:auto;
  
  
}
}
